USE [master]
GO
/****** Object:  Database [bomberos]    Script Date: 2/09/2025 8:54:25 p. m. ******/
CREATE DATABASE [bomberos]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'bomberos', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\bomberos.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'bomberos_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\bomberos_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bomberos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [bomberos]
GO
/****** Object:  Table [dbo].[Emergencia]    Script Date: 2/09/2025 8:54:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Emergencia](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [date] NULL,
	[hora_Llamada] [time](7) NULL,
	[hora_Salida] [time](7) NULL,
	[hora_Sitio] [time](7) NULL,
	[hora_Retorno] [time](7) NULL,
	[id_Tipologia] [int] NULL,
	[id_Incidente] [int] NULL,
	[barrio] [varchar](30) NULL,
	[direccion] [varchar](50) NULL,
	[pos_Causa] [varchar](30) NULL,
	[num_Victimas] [int] NULL,
	[afectaciones_Materiales] [varchar](100) NULL,
	[descripcion_Emergencia] [varchar](250) NULL,
	[afectaciones_m2] [int] NULL,
	[id_Personal_Atendio] [int] NULL,
	[id_Reportante] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[estacion]    Script Date: 2/09/2025 8:54:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estacion](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](3) NULL,
	[estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fuente]    Script Date: 2/09/2025 8:54:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fuente](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](30) NULL,
	[estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[incidente]    Script Date: 2/09/2025 8:54:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[incidente](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](33) NULL,
	[estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[maquina]    Script Date: 2/09/2025 8:54:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[maquina](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](4) NULL,
	[estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[personal]    Script Date: 2/09/2025 8:54:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[personal](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_Rango] [int] NULL,
	[Nombre] [varchar](30) NULL,
	[Apellido1] [varchar](30) NULL,
	[Apellido2] [varchar](30) NULL,
	[id_Tipo_Documento] [int] NULL,
	[numero_Documento] [int] NULL,
	[direccion] [varchar](60) NULL,
	[teleoperador] [bit] NULL,
	[correo] [varchar](50) NULL,
	[telefono] [varchar](11) NULL,
	[fecha_Nacimiento] [date] NULL,
	[fecha_Ingreso] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[personal_Atendio]    Script Date: 2/09/2025 8:54:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[personal_Atendio](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_Estacion] [int] NULL,
	[id_Estacion_Apoyo] [int] NULL,
	[id_Maquina] [int] NULL,
	[id_Maquina_Apoyo] [int] NULL,
	[total_Unidades] [int] NULL,
	[id_Maquinista] [int] NULL,
	[id_CI] [int] NULL,
	[id_Tripulante1] [int] NULL,
	[id_Tripulante2] [int] NULL,
	[id_Tripulante3] [int] NULL,
	[id_Teleoperador] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rango]    Script Date: 2/09/2025 8:54:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rango](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](13) NULL,
	[estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reportante]    Script Date: 2/09/2025 8:54:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reportante](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_Fuente] [int] NULL,
	[telefono_Reporta] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipo_Documento]    Script Date: 2/09/2025 8:54:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipo_Documento](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](2) NULL,
	[estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipologia]    Script Date: 2/09/2025 8:54:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipologia](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](13) NULL,
	[estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[estacion] ON 

INSERT [dbo].[estacion] ([id], [descripcion], [estado]) VALUES (1, N'X-1', 1)
INSERT [dbo].[estacion] ([id], [descripcion], [estado]) VALUES (2, N'X-2', 1)
INSERT [dbo].[estacion] ([id], [descripcion], [estado]) VALUES (3, N'X-3', 1)
SET IDENTITY_INSERT [dbo].[estacion] OFF
GO
SET IDENTITY_INSERT [dbo].[fuente] ON 

INSERT [dbo].[fuente] ([id], [descripcion], [estado]) VALUES (1, N'Policia', 1)
INSERT [dbo].[fuente] ([id], [descripcion], [estado]) VALUES (2, N'Defensa Civil', 1)
INSERT [dbo].[fuente] ([id], [descripcion], [estado]) VALUES (3, N'Ejercito', 1)
SET IDENTITY_INSERT [dbo].[fuente] OFF
GO
SET IDENTITY_INSERT [dbo].[incidente] ON 

INSERT [dbo].[incidente] ([id], [descripcion], [estado]) VALUES (1, N'INC. ELECTRICO', 1)
INSERT [dbo].[incidente] ([id], [descripcion], [estado]) VALUES (2, N'INC. ESTRUCTURAL', 1)
INSERT [dbo].[incidente] ([id], [descripcion], [estado]) VALUES (3, N'INC. COB. VEGETAL', 1)
SET IDENTITY_INSERT [dbo].[incidente] OFF
GO
SET IDENTITY_INSERT [dbo].[maquina] ON 

INSERT [dbo].[maquina] ([id], [descripcion], [estado]) VALUES (1, N'M-1', 1)
INSERT [dbo].[maquina] ([id], [descripcion], [estado]) VALUES (2, N'M-2', 1)
INSERT [dbo].[maquina] ([id], [descripcion], [estado]) VALUES (3, N'M-3', 1)
SET IDENTITY_INSERT [dbo].[maquina] OFF
GO
SET IDENTITY_INSERT [dbo].[personal] ON 

INSERT [dbo].[personal] ([id], [id_Rango], [Nombre], [Apellido1], [Apellido2], [id_Tipo_Documento], [numero_Documento], [direccion], [teleoperador], [correo], [telefono], [fecha_Nacimiento], [fecha_Ingreso]) VALUES (3, 1, N'Francisco', N'Ruiz', N'Miranda', 6, 43232365, N'Cra 54 # 23-16 Corazón de Jesus', 0, N'f.ruiz@email.com', N'3001124141', CAST(N'1949-03-15' AS Date), CAST(N'1967-12-25' AS Date))
INSERT [dbo].[personal] ([id], [id_Rango], [Nombre], [Apellido1], [Apellido2], [id_Tipo_Documento], [numero_Documento], [direccion], [teleoperador], [correo], [telefono], [fecha_Nacimiento], [fecha_Ingreso]) VALUES (4, 7, N'Charles', N'Benavides', N'Tonguino', 6, 65654233, N'Cra 76 # 23-22 Villa Nueva', 0, N'c.benavides@email.com', N'3001123434', CAST(N'1969-03-19' AS Date), CAST(N'1989-02-17' AS Date))
INSERT [dbo].[personal] ([id], [id_Rango], [Nombre], [Apellido1], [Apellido2], [id_Tipo_Documento], [numero_Documento], [direccion], [teleoperador], [correo], [telefono], [fecha_Nacimiento], [fecha_Ingreso]) VALUES (5, 6, N'Francisco', N'Ruiz', N'Benavides', 6, 54234111, N'Cll 6 # 23-2 Santamaria', 0, N'f.r.benavides@email.com', N'3004443231', CAST(N'1979-05-09' AS Date), CAST(N'2000-02-07' AS Date))
SET IDENTITY_INSERT [dbo].[personal] OFF
GO
SET IDENTITY_INSERT [dbo].[rango] ON 

INSERT [dbo].[rango] ([id], [descripcion], [estado]) VALUES (1, N'Aspirante', 1)
INSERT [dbo].[rango] ([id], [descripcion], [estado]) VALUES (2, N'Bombero', 1)
INSERT [dbo].[rango] ([id], [descripcion], [estado]) VALUES (3, N'Cabo', 1)
SET IDENTITY_INSERT [dbo].[rango] OFF
GO
SET IDENTITY_INSERT [dbo].[tipo_Documento] ON 

INSERT [dbo].[tipo_Documento] ([id], [descripcion], [estado]) VALUES (6, N'CC', 1)
INSERT [dbo].[tipo_Documento] ([id], [descripcion], [estado]) VALUES (7, N'CE', 1)
INSERT [dbo].[tipo_Documento] ([id], [descripcion], [estado]) VALUES (8, N'TI', 1)
SET IDENTITY_INSERT [dbo].[tipo_Documento] OFF
GO
SET IDENTITY_INSERT [dbo].[tipologia] ON 

INSERT [dbo].[tipologia] ([id], [descripcion], [estado]) VALUES (1, N'Incendios', 1)
INSERT [dbo].[tipologia] ([id], [descripcion], [estado]) VALUES (2, N'Rescates', 1)
INSERT [dbo].[tipologia] ([id], [descripcion], [estado]) VALUES (3, N'Mat-Pel', 1)
SET IDENTITY_INSERT [dbo].[tipologia] OFF
GO
ALTER TABLE [dbo].[Emergencia]  WITH CHECK ADD  CONSTRAINT [FK_Emergencia_incidente] FOREIGN KEY([id_Incidente])
REFERENCES [dbo].[incidente] ([id])
GO
ALTER TABLE [dbo].[Emergencia] CHECK CONSTRAINT [FK_Emergencia_incidente]
GO
ALTER TABLE [dbo].[Emergencia]  WITH CHECK ADD  CONSTRAINT [FK_Emergencia_personal_Atendio] FOREIGN KEY([id_Personal_Atendio])
REFERENCES [dbo].[personal_Atendio] ([id])
GO
ALTER TABLE [dbo].[Emergencia] CHECK CONSTRAINT [FK_Emergencia_personal_Atendio]
GO
ALTER TABLE [dbo].[Emergencia]  WITH CHECK ADD  CONSTRAINT [FK_Emergencia_reportante] FOREIGN KEY([id_Reportante])
REFERENCES [dbo].[reportante] ([id])
GO
ALTER TABLE [dbo].[Emergencia] CHECK CONSTRAINT [FK_Emergencia_reportante]
GO
ALTER TABLE [dbo].[Emergencia]  WITH CHECK ADD  CONSTRAINT [FK_Emergencia_tipologia] FOREIGN KEY([id_Tipologia])
REFERENCES [dbo].[tipologia] ([id])
GO
ALTER TABLE [dbo].[Emergencia] CHECK CONSTRAINT [FK_Emergencia_tipologia]
GO
ALTER TABLE [dbo].[personal]  WITH CHECK ADD  CONSTRAINT [FK_personal_rango] FOREIGN KEY([id_Rango])
REFERENCES [dbo].[rango] ([id])
GO
ALTER TABLE [dbo].[personal] CHECK CONSTRAINT [FK_personal_rango]
GO
ALTER TABLE [dbo].[personal]  WITH CHECK ADD  CONSTRAINT [FK_personal_tipo_Documento] FOREIGN KEY([id_Tipo_Documento])
REFERENCES [dbo].[tipo_Documento] ([id])
GO
ALTER TABLE [dbo].[personal] CHECK CONSTRAINT [FK_personal_tipo_Documento]
GO
ALTER TABLE [dbo].[personal_Atendio]  WITH CHECK ADD  CONSTRAINT [FK_personal_Atendio_estacion] FOREIGN KEY([id_Estacion])
REFERENCES [dbo].[estacion] ([id])
GO
ALTER TABLE [dbo].[personal_Atendio] CHECK CONSTRAINT [FK_personal_Atendio_estacion]
GO
ALTER TABLE [dbo].[personal_Atendio]  WITH CHECK ADD  CONSTRAINT [FK_personal_Atendio_estacionApoyo] FOREIGN KEY([id_Estacion_Apoyo])
REFERENCES [dbo].[estacion] ([id])
GO
ALTER TABLE [dbo].[personal_Atendio] CHECK CONSTRAINT [FK_personal_Atendio_estacionApoyo]
GO
ALTER TABLE [dbo].[personal_Atendio]  WITH CHECK ADD  CONSTRAINT [FK_personal_Atendio_maquina] FOREIGN KEY([id_Maquina])
REFERENCES [dbo].[maquina] ([id])
GO
ALTER TABLE [dbo].[personal_Atendio] CHECK CONSTRAINT [FK_personal_Atendio_maquina]
GO
ALTER TABLE [dbo].[personal_Atendio]  WITH CHECK ADD  CONSTRAINT [FK_personal_Atendio_maquinaApoyo] FOREIGN KEY([id_Maquina_Apoyo])
REFERENCES [dbo].[maquina] ([id])
GO
ALTER TABLE [dbo].[personal_Atendio] CHECK CONSTRAINT [FK_personal_Atendio_maquinaApoyo]
GO
ALTER TABLE [dbo].[personal_Atendio]  WITH CHECK ADD  CONSTRAINT [FK_personal_Atendio_Maquinista] FOREIGN KEY([id_Maquinista])
REFERENCES [dbo].[personal] ([id])
GO
ALTER TABLE [dbo].[personal_Atendio] CHECK CONSTRAINT [FK_personal_Atendio_Maquinista]
GO
ALTER TABLE [dbo].[personal_Atendio]  WITH CHECK ADD  CONSTRAINT [FK_personal_Atendio_personal] FOREIGN KEY([id_CI])
REFERENCES [dbo].[personal] ([id])
GO
ALTER TABLE [dbo].[personal_Atendio] CHECK CONSTRAINT [FK_personal_Atendio_personal]
GO
ALTER TABLE [dbo].[personal_Atendio]  WITH CHECK ADD  CONSTRAINT [FK_personal_Atendio_T1] FOREIGN KEY([id_Tripulante1])
REFERENCES [dbo].[personal] ([id])
GO
ALTER TABLE [dbo].[personal_Atendio] CHECK CONSTRAINT [FK_personal_Atendio_T1]
GO
ALTER TABLE [dbo].[personal_Atendio]  WITH CHECK ADD  CONSTRAINT [FK_personal_Atendio_T2] FOREIGN KEY([id_Tripulante2])
REFERENCES [dbo].[personal] ([id])
GO
ALTER TABLE [dbo].[personal_Atendio] CHECK CONSTRAINT [FK_personal_Atendio_T2]
GO
ALTER TABLE [dbo].[personal_Atendio]  WITH CHECK ADD  CONSTRAINT [FK_personal_Atendio_T3] FOREIGN KEY([id_Tripulante3])
REFERENCES [dbo].[personal] ([id])
GO
ALTER TABLE [dbo].[personal_Atendio] CHECK CONSTRAINT [FK_personal_Atendio_T3]
GO
ALTER TABLE [dbo].[personal_Atendio]  WITH CHECK ADD  CONSTRAINT [FK_personal_Atendio_Teleoperador] FOREIGN KEY([id_Teleoperador])
REFERENCES [dbo].[personal] ([id])
GO
ALTER TABLE [dbo].[personal_Atendio] CHECK CONSTRAINT [FK_personal_Atendio_Teleoperador]
GO
ALTER TABLE [dbo].[reportante]  WITH CHECK ADD  CONSTRAINT [FK_reportante_fuente] FOREIGN KEY([id_Fuente])
REFERENCES [dbo].[fuente] ([id])
GO
ALTER TABLE [dbo].[reportante] CHECK CONSTRAINT [FK_reportante_fuente]
GO
USE [master]
GO
